{% extends "base.html" %}  
{% load crispy_forms_tags %}


{% block css_add %}
<style>
    .btn-success:hover {
        background-color: #ff0004; 
    }

    body{

background-color: rgb(152, 140, 243);
} 
</style>
{% endblock %}

{% block   main %}

 <h1 class="text-center" >I am Profile page</h1>
 
 <div >
    <form style="width: 50%; margin: auto;" method="post">
        {% csrf_token %}   
       
        {{data | crispy}}
           
        <button  class="btn btn-success" > Submit </button>
    </form>

    <br><br>
 </div>
 
{% endblock  %}